<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.misaka.springcloud.Dao.PaymentDao">
    <insert id="create" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        insert into `payment`(`serial`) values ('${serial}');
    </insert>
    
    <resultMap id="BaseResultMap" type="com.misaka.springcloud.entities.Payment">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <id column="serial" jdbcType="VARCHAR" property="serial"/>
    </resultMap>
    <select id="getPaymentById" parameterType="Long" resultMap="BaseResultMap">
        select * from payment where id = #{id};
    </select>
</mapper>
